bundle/*
bundles/*
objs/*
projects/Debug
projects/Release
projects/*.ncb
projects/*.suo
projects/*.sdf
projects/*.opensdf
projects/*.vcproj.*.user
projects/*.vcxproj.user
src/rev.cpp
src/os/windows/ottdres.rc

/Makefile*
!/Makefile.msvc
/config.*
!/config.lib
!*.in
*.tmp
